* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.responsive-navbar {
  background-color: #000; }

.mobile-logo {
  grid-area: logo;
  padding: 5px;
  display: none; }
  .mobile-logo p {
    color: #ED2168;
    font-size: 26px;
    font-weight: 600; }
  .mobile-logo span {
    color: #fff;
    font-size: 22px;
    background-color: #ED2168;
    padding: 4px 2px;
    border-radius: 2px; }

.menu-icon {
  padding: 5px;
  display: none; }
  .menu-icon i {
    font-size: 1.5rem;
    padding: 2px 10px;
    color: #ED2168; }
  .menu-icon #undo {
    display: none; }

.navbar {
  z-index: 2;
  width: 100%;
  background-color: #000;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-areas: "logo navbar";
  grid-gap: 0 5px;
  transition: 0.6s ease-out; }

.logo {
  grid-area: logo;
  padding: 5px;
  display: inline-block; }
  .logo p {
    color: #ED2168;
    font-size: 26px;
    font-weight: 600; }
  .logo span {
    color: #fff;
    font-size: 22px;
    background-color: #ED2168;
    padding: 4px 2px;
    border-radius: 2px; }

nav {
  position: relative;
  grid-area: navbar; }
  nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "f-ball b-ball v-ball tennis skate";
    grid-gap: 0 5px;
    text-align: center;
    padding: 6px; }
    nav ul .active {
      background: #ED2168; }
    nav ul li a {
      text-decoration: none;
      color: #fff;
      font-family: "Josefin Slab", serif;
      font-family: "Poiret One", cursive;
      font-family: "Saira", sans-serif; }
      nav ul li a:hover {
        text-decoration: underline; }

.f-ball {
  grid-area: f-ball; }

.b-ball {
  grid-area: b-ball; }

.v-ball {
  grid-area: v-ball; }

.tennis {
  grid-area: tennis; }

.skate {
  grid-area: skate; }

section {
  height: auto;
  position: relative;
  z-index: 1; }

.bg-img {
  position: relative;
  background: url(images/basketball.jpeg) no-repeat center center;
  background-size: cover;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  z-index: 1; }
  .bg-img > * {
    z-index: 2; }
  .bg-img .bg-text {
    font-size: 3rem;
    text-align: center;
    word-break: keep-all;
    color: #0d0402;
    font-family: "Josefin Slab", serif;
    font-family: "Poiret One", cursive;
    font-family: "Saira", sans-serif;
    font-weight: 550;
    padding: 0 0 10px 0; }

input[type=button] {
  background-color: transparent;
  padding: 10px;
  border: 2px solid #ED2168;
  outline: none;
  border-radius: 7px;
  font-size: 17px;
  color: #fff; }
  input[type=button]:hover {
    background-color: #ED2168;
    color: #fff; }

@media (min-width: 280px) and (max-width: 480px) {
  .responsive-navbar {
    display: flex;
    justify-content: space-between; }

  .mobile-logo {
    display: inline-block; }

  .logo {
    display: none; }

  .menu-icon {
    display: flex; }

  .navbar {
    position: absolute;
    left: -100%;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "navbar";
    height: 100vh; }

  nav ul {
    grid-template-columns: 1fr;
    grid-template-areas: "f-ball" "b-ball" "v-ball" "tennis" "skate";
    height: 40vh; } }
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-navbar {
    display: flex;
    justify-content: space-between; }

  .mobile-logo {
    display: inline-block; }

  .logo {
    display: none; }

  .menu-icon {
    display: flex; }

  .navbar {
    position: absolute;
    left: -100%;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "navbar";
    height: 100vh; }

  nav ul {
    grid-template-columns: 1fr;
    grid-template-areas: "f-ball" "b-ball" "v-ball" "tennis" "skate";
    height: 40vh; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .responsive-navbar {
    display: flex;
    justify-content: space-between; }

  .mobile-logo {
    display: inline-block; }

  .logo {
    display: none; }

  .menu-icon {
    display: flex; }

  .navbar {
    position: absolute;
    left: -100%;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "navbar";
    height: 100vh; }

  nav ul {
    grid-template-columns: 1fr;
    grid-template-areas: "f-ball" "b-ball" "v-ball" "tennis" "skate";
    height: 40vh; } }

/*# sourceMappingURL=Easy-find-places.css.map */
