* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-color: #000;
  padding: 0 0 10px 0; }

.responsive-navbar {
  background-color: #000; }

.mobile-logo {
  grid-area: logo;
  padding: 5px;
  display: none; }
  .mobile-logo p {
    color: #ED2168;
    font-size: 26px;
    font-weight: 600; }
  .mobile-logo span {
    color: #F1F1F1;
    font-size: 22px;
    background-color: #ED2168;
    padding: 4px 2px;
    border-radius: 2px; }

.menu-icon {
  padding: 5px;
  display: none; }
  .menu-icon i {
    font-size: 1.5rem;
    padding: 2px 10px;
    color: #ED2168; }
  .menu-icon #undo {
    display: none; }

.navbar {
  z-index: 2;
  padding: 10px 5px;
  width: 100%;
  background-color: #000;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: "logo navbar";
  grid-gap: 0 5px;
  transition: 0.6s ease-out;
  align-content: center; }

.logo {
  grid-area: logo;
  padding: 5px;
  display: inline-block; }
  .logo p {
    color: #ED2168;
    font-size: 26px;
    font-weight: 600; }
  .logo span {
    color: #F1F1F1;
    font-size: 22px;
    background-color: #ED2168;
    padding: 4px 2px;
    border-radius: 2px; }

nav {
  position: relative;
  grid-area: navbar; }
  nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "f-ball b-ball v-ball tennis skate";
    grid-gap: 0 5px;
    text-align: center;
    padding: 10px 0; }
    nav ul .active {
      color: #ED2168; }
    nav ul li a {
      text-decoration: none;
      color: #F1F1F1;
      font-family: "Josefin Slab", serif;
      font-family: "Poiret One", cursive;
      font-family: "Saira", sans-serif; }
      nav ul li a:hover {
        text-decoration: underline; }

.f-ball {
  grid-area: f-ball; }

.b-ball {
  grid-area: b-ball; }

.v-ball {
  grid-area: v-ball; }

.tennis {
  grid-area: tennis; }

.skate {
  grid-area: skate; }

section {
  height: auto;
  position: relative;
  z-index: 1; }

.bg-img {
  position: relative;
  background: url(images/basketball.jpeg) no-repeat center center;
  background-size: cover;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  z-index: 1; }
  .bg-img > * {
    z-index: 2; }
  .bg-img .bg-text {
    font-size: 3rem;
    text-align: center;
    word-break: keep-all;
    color: #0d0402;
    font-family: "Josefin Slab", serif;
    font-family: "Poiret One", cursive;
    font-family: "Saira", sans-serif;
    font-weight: 550;
    padding: 0 0 10px 0; }

input[type=button] {
  background-color: transparent;
  padding: 10px;
  border: 2px solid #ED2168;
  outline: none;
  border-radius: 7px;
  font-size: 17px;
  color: #F1F1F1; }
  input[type=button]:hover {
    background-color: #ED2168;
    color: #F1F1F1; }

.center {
  display: flex;
  justify-content: center;
  padding: 20px 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "football basketball tennis" "valleyball cycle skate";
  grid-gap: 10px;
  width: 80%;
  color: #222;
  font-size: 18px;
  font-family: Helvetica, sans-sherif; }

.grid-container div:not(.grid-box-text) {
  height: 15em;
  padding: 20px;
  border-radius: 5px; }

.football-box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: football;
  background-color: #2EE7BD; }
  .football-box .grid-box-text {
    text-align: justify;
    color: #222;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 10px; }
    .football-box .grid-box-text h3 {
      padding-bottom: 10px; }
    .football-box .grid-box-text p {
      padding: 10px; }
    .football-box .grid-box-text footer {
      display: flex;
      padding: 20px 10px;
      justify-content: flex-end;
      font-family: "Balsamiq Sans", cursive; }

.basketball-box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: basketball;
  background-color: #2EC0E7; }
  .basketball-box .grid-box-text {
    text-align: justify;
    color: #222;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 10px; }
    .basketball-box .grid-box-text h3 {
      padding-bottom: 10px; }
    .basketball-box .grid-box-text p {
      padding: 10px; }
    .basketball-box .grid-box-text footer {
      display: flex;
      padding: 20px 10px;
      justify-content: flex-end;
      font-family: "Balsamiq Sans", cursive; }

.tennis-box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: tennis;
  background-color: #662EE7; }
  .tennis-box .grid-box-text {
    text-align: justify;
    color: #222;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 10px; }
    .tennis-box .grid-box-text h3 {
      padding-bottom: 10px; }
    .tennis-box .grid-box-text p {
      padding: 10px; }
    .tennis-box .grid-box-text footer {
      display: flex;
      padding: 20px 10px;
      justify-content: flex-end;
      font-family: "Balsamiq Sans", cursive; }

.valleyball-box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: valleyball;
  background-color: #CB2EE7; }
  .valleyball-box .grid-box-text {
    text-align: justify;
    color: #222;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 10px; }
    .valleyball-box .grid-box-text h3 {
      padding-bottom: 10px; }
    .valleyball-box .grid-box-text p {
      padding: 10px; }
    .valleyball-box .grid-box-text footer {
      display: flex;
      padding: 20px 10px;
      justify-content: flex-end;
      font-family: "Balsamiq Sans", cursive; }

.cycle-box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: cycle;
  background-color: #E72EA7; }
  .cycle-box .grid-box-text {
    text-align: justify;
    color: #222;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 10px; }
    .cycle-box .grid-box-text h3 {
      padding-bottom: 10px; }
    .cycle-box .grid-box-text p {
      padding: 10px; }
    .cycle-box .grid-box-text footer {
      display: flex;
      padding: 20px 10px;
      justify-content: flex-end;
      font-family: "Balsamiq Sans", cursive; }

.skate-box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: skate;
  background-color: #F889C4; }
  .skate-box .grid-box-text {
    text-align: justify;
    color: #222;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 10px; }
    .skate-box .grid-box-text h3 {
      padding-bottom: 10px; }
    .skate-box .grid-box-text p {
      padding: 10px; }
    .skate-box .grid-box-text footer {
      display: flex;
      padding: 20px 10px;
      justify-content: flex-end;
      font-family: "Balsamiq Sans", cursive; }

.social-box {
  padding: 10px 0; }
  .social-box .social-media {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    padding: 10px 0; }
    .social-box .social-media a {
      border-left: 1px solid #ED2168;
      border-right: 1px solid #ED2168;
      padding: 0 10px;
      text-decoration: none;
      color: #fff; }
  .social-box .bottom-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-sherif; }
    .social-box .bottom-part .copyright {
      display: flex;
      flex-wrap: wrap;
      color: #666;
      padding: 10px; }
    .social-box .bottom-part .communication {
      padding: 10px; }
      .social-box .bottom-part .communication a {
        padding: 0 2px;
        text-decoration: none;
        color: #666; }
        .social-box .bottom-part .communication a:hover {
          color: #fff; }

@media (min-width: 280px) and (max-width: 480px) {
  .responsive-navbar {
    display: flex;
    justify-content: space-between; }

  .mobile-logo {
    display: inline-block; }

  .logo {
    display: none; }

  .menu-icon {
    display: flex; }

  .navbar {
    position: absolute;
    left: -100%;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "navbar";
    height: 100vh; }

  nav ul {
    grid-template-columns: 1fr;
    grid-template-areas: "f-ball" "b-ball" "v-ball" "tennis" "skate";
    height: 40vh; }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "football" "basketball" "tennis" "valleyball" "cycle" "skate"; }

  .bottom-part .copyright {
    order: 2; } }
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-navbar {
    display: flex;
    justify-content: space-between; }

  .mobile-logo {
    display: inline-block; }

  .logo {
    display: none; }

  .menu-icon {
    display: flex; }

  .navbar {
    position: absolute;
    left: -100%;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "navbar";
    height: 100vh; }

  nav ul {
    grid-template-columns: 1fr;
    grid-template-areas: "f-ball" "b-ball" "v-ball" "tennis" "skate";
    height: 40vh; }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "football basketball" "tennis valleyball" "cycle skate"; }

  .bottom-part .copyright {
    order: 2; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .responsive-navbar {
    display: flex;
    justify-content: space-between; }

  .mobile-logo {
    display: inline-block; }

  .logo {
    display: none; }

  .menu-icon {
    display: flex; }

  .navbar {
    position: absolute;
    left: -100%;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "navbar";
    height: 100vh; }

  nav ul {
    grid-template-columns: 1fr;
    grid-template-areas: "f-ball" "b-ball" "v-ball" "tennis" "skate";
    height: 40vh; }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "football football" "basketball tennis" "valleyball valleyball" "cycle skate"; }

  .bottom-part .copyright {
    order: 2; } }

/*# sourceMappingURL=Easy-find-places.css.map */
