$txt-color: #ED2168
$txt-font-1: 'Josefin Slab', serif
$txt-font-2: 'Poiret One', cursive
$txt-font-3: 'Saira', sans-serif
	
*
	box-sizing: border-box
	padding: 0
	margin: 0
.responsive-navbar
	background-color: #000
.menu-icon
	display: block
	float: right
	clear: right
	padding: 5px
	position: sticky
	z-index: 2
	display: none
	i
		font-size: 20px
		border: 1px solid
		padding: 2px 10px
		color: $txt-color
	#undo
		display: none
header
	width: 100%
	background-color: #000
	display: grid
	grid-template-columns: 0.5fr 2fr
	grid-template-areas: "logo navbar"
	grid-gap: 0 5px
	transition: .6s ease-out
@mixin logo($visible)
	grid-area: logo
	padding: 5px
	display: $visible
	p
		color: $txt-color
		font-size: 26px
		font-weight: 600
	span
		color: #fff
		font-size: 22px
		background-color: $txt-color
		padding: 4px 2px
		border-radius: 2px
.logo
	@include logo(inline-block)
.mobile-logo
	@include logo(none)
	

nav
	grid-area: navbar
	ul
		list-style-type: none
		display: grid
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 
		grid-template-areas: "f-ball b-ball v-ball tennis skate"
		grid-gap: 0 5px 
		text-align: center
		padding: 6px
		li
			a
				text-decoration: none
				color: #fff
				font-family: $txt-font-1 
				font-family: $txt-font-2
				font-family: $txt-font-3
				&:hover
					text-decoration: underline
	
$values: f-ball, b-ball, v-ball, tennis, skate
@each $value in $values
	.#{$value}
		grid-area: $value

@media (min-width: 280px) and (max-width: 480px)
	.mobile-logo
		@include logo(inline-block)
	.logo
		@include logo(none)
	.menu-icon
		display: flex
	header
		position: absolute
		left: -100%
		grid-template-columns: 1fr
		grid-template-areas: 'logo' 'navbar'
		height: 100vh
	nav
		ul
			grid-template-columns: 1fr
			grid-template-areas: 'f-ball' 'b-ball' 'v-ball' 'tennis' 'skate'
			height: 40vh


@media (min-width: 481px) and (max-width: 767px)
	.mobile-logo
		display: inline-block
	.logo
		display: none
	.menu-icon
		display: flex
	header
		position: absolute
		left: -100%
		grid-template-columns: 1fr
		grid-template-areas: 'logo' 'navbar'
		height: 100vh
	nav
		ul
			grid-template-columns: 1fr
			grid-template-areas: 'f-ball' 'b-ball' 'v-ball' 'tennis' 'skate'
			height: 40vh

@media (min-width: 768px) and (max-width: 1024px)
	.mobile-logo
		display: inline-block
	.logo
		display: none
	.menu-icon
		display: flex
	header
		position: absolute
		left: -100%
		grid-template-columns: 1fr
		grid-template-areas: 'logo' 'navbar'
		height: 100vh
	nav
		ul
			grid-template-columns: 1fr
			grid-template-areas: 'f-ball' 'b-ball' 'v-ball' 'tennis' 'skate'
			height: 40vh




