$txt-color: #ED2168
$txt-font-1: 'Josefin Slab', serif
$txt-font-2: 'Poiret One', cursive
$txt-font-3: 'Saira', sans-serif
$font-helvetica: Helvetica, sans-sherif
$white: #F1F1F1
$grid-box-color: #222
@mixin logo($visible)
	grid-area: logo
	padding: 5px
	display: $visible
	p
		color: $txt-color
		font-size: 26px
		font-weight: 600
	span
		color: $white
		font-size: 22px
		background-color: $txt-color
		padding: 4px 2px
		border-radius: 2px
@mixin fontSaira($val1,$val2,$val3)
	font-family: $val1
	font-family: $val2
	font-family: $val3
@mixin gridBoxText($padding)
	.grid-box-text
		text-align: justify
		color: #222
		font-size: 1rem
		display: flex
		flex-direction: column
		padding: 0 $padding
		h3
			padding-bottom: 10px
		p
			padding: 10px
		footer
			display: flex
			padding: 20px 10px
			justify-content: flex-end
			font-family: 'Balsamiq Sans', cursive
@mixin gridBox($className,$gridArea,$bgColor)
	.#{$className}
		display: flex
		justify-content: center
		align-items: center
		grid-area: $gridArea
		background-color: $bgColor
		@include gridBoxText(10px)
		
*
	box-sizing: border-box
	padding: 0
	margin: 0
body
	background-color: #000
.responsive-navbar
	background-color: #000
.mobile-logo
	@include logo(none)
.menu-icon
	padding: 5px
	display: none
	i
		font-size: 1.5rem
		padding: 2px 10px
		color: $txt-color
	#undo
		display: none
.navbar
	z-index: 2
	padding: 10px 5px
	width: 100%
	background-color: #000
	display: grid
	grid-template-columns: 0.5fr 2fr
	grid-template-areas: "logo navbar"
	grid-gap: 0 5px
	transition: .6s ease-out

.logo
	@include logo(inline-block)

nav
	position: relative
	grid-area: navbar
	ul
		list-style-type: none
		display: grid
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 
		grid-template-areas: "f-ball b-ball v-ball tennis skate"
		grid-gap: 0 5px 
		text-align: center
		padding: 6px
		.active
			background: $txt-color
		li
			a
				text-decoration: none
				color: $white
				@include fontSaira($txt-font-1,$txt-font-2,$txt-font-3)
				&:hover
					text-decoration: underline
$values: f-ball, b-ball, v-ball, tennis, skate
@each $value in $values
	.#{$value}
		grid-area: $value
section
	height: auto
	position: relative
	z-index: 1
.bg-img
	position: relative
	background: url(images/basketball.jpeg) no-repeat center center
	background-size: cover
	width: auto
	height: 100vh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	flex-grow: 2
	z-index: 1
	&>*
		z-index: 2
	.bg-text
		font-size: 3rem
		text-align: center
		word-break: keep-all
		color: hsl(11,68%,3%)
		@include fontSaira($txt-font-1,$txt-font-2,$txt-font-3)
		font-weight: 550
		padding: 0 0 10px 0
input[type=button]
	background-color: transparent
	padding: 10px
	border: 2px solid $txt-color
	outline: none
	border-radius: 7px
	font-size: 17px
	color: $white
	
	&:hover
		background-color: $txt-color
		color: $white

.center
	display: flex
	justify-content: center
	padding: 20px 0

.grid-container
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-template-areas: 'football basketball tennis''valleyball cycle skate'
	grid-gap: 10px
	width: 80%
	color: $grid-box-color
	font-size: 18px
	font-family: $font-helvetica

.grid-container div:not(.grid-box-text)
	height: 15em
	padding: 20px
	border-radius: 5px

@include gridBox(football-box,football,#2EE7BD)
@include gridBox(basketball-box,basketball,#2EC0E7)
@include gridBox(tennis-box,tennis,#662EE7)
@include gridBox(valleyball-box,valleyball,#CB2EE7)
@include gridBox(cycle-box,cycle,#E72EA7)
@include gridBox(skate-box,skate,#F889C4)

@media (min-width: 280px) and (max-width: 480px)

	.responsive-navbar
		display: flex
		justify-content: space-between
	.mobile-logo
		display: inline-block
	.logo
		display: none
	.menu-icon
		display: flex
	.navbar
		position: absolute
		left: -100%
		grid-template-columns: 1fr
		grid-template-areas: 'logo' 'navbar'
		height: 100vh
	nav
		ul
			grid-template-columns: 1fr
			grid-template-areas: 'f-ball' 'b-ball' 'v-ball' 'tennis' 'skate'
			height: 40vh
	.grid-container
		grid-template-columns: 1fr
		grid-template-areas: 'football''basketball''tennis''valleyball''cycle''skate'
	
@media (min-width: 481px) and (max-width: 767px)
	.responsive-navbar
		display: flex
		justify-content: space-between
	.mobile-logo
		display: inline-block
	.logo
		display: none
	.menu-icon
		display: flex
	.navbar
		position: absolute
		left: -100%
		grid-template-columns: 1fr
		grid-template-areas: 'logo' 'navbar'
		height: 100vh
	nav
		ul
			grid-template-columns: 1fr
			grid-template-areas: 'f-ball' 'b-ball' 'v-ball' 'tennis' 'skate'
			height: 40vh
	.grid-container
		grid-template-columns: 1fr 1fr
		grid-template-areas: 'football basketball''tennis valleyball''cycle skate'
		
	

@media (min-width: 768px) and (max-width: 1024px)
	.responsive-navbar
		display: flex
		justify-content: space-between
	.mobile-logo
		display: inline-block
	.logo
		display: none
	.menu-icon
		display: flex
	.navbar
		position: absolute
		left: -100%
		grid-template-columns: 1fr
		grid-template-areas: 'logo' 'navbar'
		height: 100vh
	nav
		ul
			grid-template-columns: 1fr
			grid-template-areas: 'f-ball' 'b-ball' 'v-ball' 'tennis' 'skate'
			height: 40vh
	.grid-container
		grid-template-columns: 1fr 1fr
		grid-template-areas: 'football football''basketball tennis' 'valleyball valleyball''cycle skate'
	


